.body {
  background: #ffffff;
  width: 566px;
  height: 713px;
  box-shadow: 0px 0px 25px rgba(83, 97, 149, 0.45);
  border-radius: 16px;
  /* background-image: url("../../assets/formBG1.svg");
  background-repeat: no-repeat;
  background-position: bottom right; */
}
