@import "src/styles/vars";

.container {
  padding: 40px 60px;
  z-index: 1000;
}
.header {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.02em;
}
.text {
  
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: $color-black-nonactive;
  padding-top: 20px;
}

.buttons {
  padding-top: 70px;
  display: flex;
  gap: 20px;
}
.body {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 51, 66, 0.7);
}
.content {
  width: 610px;
  height: 310px;
  background-color: $color-white;
  border-radius: 16px;
  opacity: 1;
}
