@import "src/styles/vars";
.input {
  border-radius: 8px;
  background-color: #e2e7ee;
  padding: 14px 24px;
  width: 100%;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  margin-top: 16px;
  padding-right: 40px;

  &.isError {
    border: 1px solid #f73619;
  }
}
.body {
}
